pre.org {
          color: #f5deb3;
          background-color: #000000;  
          border: 3px outset #888;
          }
.highlight {
             /* highlight */
             background-color: #556b2f;
             }
.org-date {
            /* org-date */
            color: #00ffff;
            text-decoration: underline;
            }
.org-level-1 {
               /* org-level-1 */
               color: #87cefa;
               }
.org-link {
            /* org-link */
            color: #00ffff;
            text-decoration: underline;
            }
.org-special-keyword {
                       /* org-special-keyword */
                       color: #00ffff;
                       }
.org-todo {
            /* org-todo */
            color: #ffc0cb;
            font-weight: bold;
            }

a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
    }
a:hover {
          text-decoration: underline;
          }

.hl-line {
           /* hl-line */
           background-color: #556b2f;
           }
.org-agenda-date {
                   /* org-agenda-date */
                   color: #87cefa;
                   }
.org-agenda-date-today {
                         /* org-agenda-date-today */
                         color: #87cefa;
                         font-weight: bold;
                         font-style: italic;
                         }
.org-agenda-date-weekend {
                           /* org-agenda-date-weekend */
                           color: #87cefa;
                           font-weight: bold;
                           }
.org-agenda-done {
                   /* org-agenda-done */
                   color: #98fb98;
                   }
.org-agenda-structure {
                        /* org-agenda-structure */
                        color: #87cefa;
                        }
.org-done {
            /* org-done */
            color: #98fb98;
            font-weight: bold;
            }
.org-link {
            /* org-link */
            color: #00ffff;
            text-decoration: underline;
            }
.org-scheduled {
                 /* org-scheduled */
                 color: #98fb98;
                 }
.org-scheduled-previously {
                            /* org-scheduled-previously */
                            color: #ff7f24;
                            }
.org-tag {
           /* org-tag */
           font-weight: bold;
           }
.org-todo {
            /* org-todo */
            color: #ffc0cb;
            font-weight: bold;
            }
.org-upcoming-deadline {
                         /* org-upcoming-deadline */
                         color: #ff7f24;
                         }
.org-warning {
               /* org-warning */
               color: #ffc0cb;
               font-weight: bold;
               }

a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
    }
a:hover {
          text-decoration: underline;
          }

