/* Post content */
div.postcontent p { 
          text-indent: 5pt;
          margin: 5pt 0;
 }

div.postcontent ul { 
           margin-left: 15pt;
 }

div.postcontent ul li { 
           list-style-type: disc;
 }

div.postcontent h2 { 
                     font-size:12pt;
                     text-align: left;
                     border-bottom: 1px dotted #ddd;
                     background-image: none;
 }


div.postcontent em { 
              font-style: italic;
 }

div.postcontent ol li { 
                        list-style-type: lower-roman;
                        text-indent: 2%;

 }

div.postcontent ol li p { 
                        margin-left: 5%;                        
 }

