body { 
       background-color: #fff;
       font-size: 10pt;
       color: #333;
       }

a { 
    color: #00f;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
 }

a:hover { 
          border-bottom: 1px dashed #00f;
 }

#hd { 
      background-image: url("/images/headerbg.png");
      background-repeat: no-repeat;
      background-position: center center;
      vertical-align: center;      
 }

#hd h1 { 
         font-size: 25pt;
         text-align: center;
         font-variant: small-caps;
         letter-spacing: 5pt;
         word-spacing: 15pt;
         font-family: times;
         /* background-image: url("/images/brokenline-bg.png"); */
         /* background-position: bottom center; */
         height: 137px;
         }

#hd h1 a { 
           color: #999;
           text-decoration: none;
           padding-top: 40px;
           display:block;
           text-align: center;
 }

#hd h1 a:hover { 
                 border:0;
 }

#hd h3 { 
         display:block;
         
 }

span.date { 
            color: #aaa;
            font-family: Monaco, "Courier New", monospace;
            font-size: 80%;
            }

span.categories { 
                  color: #aaa;
 }

ul.posts li { 
              line-height: 25pt;
 }

ul.contact li { 
                margin-left: 2em;
                list-style-type: disc;
                line-height: 1em;
 }

h2 { 
     margin: 5pt 0;
     text-align: left;
     font-size: 18pt;
     font-style:italic;
     color: #bbb;
     background-image: url("/images/brokenline.png");
     background-repeat: repeat-x;
     background-position: bottom center;

     } 

ul.places { 
            text-align: right;
            font-size: 10pt;
 }

ul.places li { 
               line-height:2em;
 }


#home { 
        background-image: url("/images/brokenline-v.png");
        background-repeat: repeat-y;
        background-position: top left;
        padding-left: 3em;
        }


div.footer { 
             background-image: url("/images/brokenline-bg.png");
             background-repeat: repeat-x;
             background-position: top center;
             font-variant: small-caps;
             font-family: times;
             text-align: center;
             padding-top: 10pt;
             font-size: 10pt;
             color: black;
             margin-top: 15pt;
             }

div.credits { 
              padding: 3pt 0;
              margin:0;
              font-size: 8pt;
 }

#intro p { 
           text-indent: 10pt;
           margin: 5pt 0;
 }

#intro img { 
             float: right;
 }

/* Post content */

div.postcontent { 
                  line-height: 18pt;
 }

div.postcontent p { 
          text-indent: 10pt;
          margin: 10pt 0;
 }

div.postcontent ul { 
           margin-left: 15pt;
 }

div.postcontent ul li { 
           list-style-type: disc;
 }

div.postcontent h2 { 
                     font-size:12pt;
                     text-align: left;
                     border-bottom: 1px dotted #ddd;
                     background-image: none;
                     margin-top: 3pt;
 }


div.postcontent em { 
              font-style: italic;
 }

div.postcontent ol li { 
                        list-style-type: lower-roman;
                        text-indent: 2%;

 }

div.postcontent ol li p { 
                        margin-left: 5%;                        
 }



/* Emurse styling */
#emurse_resume_badge_gogomonkey a	  {color: #3672a4;}
#emurse_resume_badge_gogomonkey a:hover	  {color: #113249;}
#emurse_resume_badge_gogomonkey	  td,#emurse_resume_badge_gogomonkey th { padding: 4px	  !important; }
