
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>The website of Noufal Ibrahim | {{page.title}} </title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/grids/grids-min.css"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset-fonts-grids/reset-fonts-grids.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/highlight.css"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-484625-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="doc" class="yui-t2">
      <div id="hd">
	<h1><a href="/">Noufal Ibrahim<br/><span
	class="subtitle">constrained creativity</span></a></h1>
      </div> 
      <div id="bd">
	<div id="yui-main">
	  <div class="yui-b">
	    <div id="home">
	    {{content}}
	    </div>
	  </div>
	</div>
	<div class="yui-b">
	  <div class="sidebar">
	    <h2>About</h2>
	    <p>
	      The personal blog and website of Noufal Ibrahim.<br/>
	      Muslim, father, husband, programmer, trainer, freelancer
	      etc.
	    </p>
	    <h2>Trainings</h2>
	    <p>
	      Please visit the <a href="/trainings.html">trainings</a>
	      for details on public trainings which I conduct. 
	    </p>
	    <h2>Resume</h2>
	    <ul class="places">
	      <li><a href="http://nibrahim.net.in/noufal-resume.pdf">Resume</a></li>
	      <li><a
		      href="http://nibrahim.net.in/noufal-training.pdf">Training profile</a></li>
	    </ul>
	    <h2>On the net</h2>
	    <ul class="places">
	      <li><a href="http://github.com/nibrahim/">GitHub</a></li>
	      <li><a href="http://bitbucket.org/nibrahim/">BitBucket</a></li>
	      <li><a href="http://twitter.com/noufalibrahim">Twitter</a></li>
	      <li><a
		      href="http://stackoverflow.com/users/229602/noufal-ibrahim">Stack overflow</a></li>
	      <li><a href="http://in.linkedin.com/in/noufalibrahim">LinkedIn</a></li>
	    </ul>
	    <h2>Contact</h2>
	    <ul class="contact">
	      <li>noufal at nibrahim.net.in</li>
	      <li>noufal at gmail.com</li>
	      <li>Khmar on irc.freenode.net</li>
	    </ul>
	    <br/>
	    <iframe src="http://hype.la/ads/25e6dc05-94d8-4bd2-8dbe-2273ca514961.html" width="150px" height="300px" style="border: 0px; overflow: hidden"><p>Ads provided by <a href="http://hype.la">hype.la</a></iframe>
	  </div>

	</div>
      </div> 

      <div id="ft">
	<div class="footer">
	  All content &copy; Noufal Ibrahim unless otherwise
	  specified.<br/>
	  <div class="credits">
	  Site powered by <a href="http://jekyllrb.com/">Jekyll</a>
	  </div>
	</div>
      </div> 
    </div>

<script type="text/javascript">
var disqus_shortname = 'nibrahim';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/nibrahim/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

  </body>
</html>

